body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f5da42;
}

.home-container {
  display: grid;
  grid-template-columns: minmax(250px,300px) 1fr;
}

.container {
  padding: 15px;
}

.container-parag {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-feedbacks{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
}

.parag {
  width: 60%;
}

textarea {
  width: 400px;
  height: 400px;
}

.social {
  display: flex;
  flex-direction: row;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: center;
}

.product-image {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.product-title {
  margin-top: 8px;
}

.product-price {
  color: #007bff;
  font-weight: bold;
}

.sidebar {
  width: 200px;
  background-color: #bba3cf;
  padding: 16px;
  height: 100%;

}

.sidebar a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.detail-inside{
  padding: 50px;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
}

.detail-inside img{
  width: 300px;
  height: 350px;
}


